@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Tajawal&display=swap";
@font-face {
  font-family: myFont;
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0 !important;
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  height: 4000px;
}

.clear {
  clear: both;
}

.fixed-navbar {
  background-color: #8C4B9D !important;
  transition: all 1s ease-in-out !important;
}

.slider-item:focus {
  outline: 0 !important;
}

.uppernav .navbar {
  padding: 0 !important;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}
.uppernav .navbar .navbar-brand img {
  width: 90px;
}
.uppernav .navbar .navbar-nav {
  margin-right: 45px;
}
.uppernav .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  margin-left: 20px;
}
.uppernav .navbar .navbar-nav .nav-item:hover .nav-link {
  background-color: #F6DA63;
  border-radius: 20px;
  color: #000;
}
.uppernav .navbar .navbar-nav .active .nav-link {
  background-color: #F6DA63;
  border-radius: 20px;
  color: #000;
}
.uppernav .btn {
  background-color: #09483f;
  border-radius: 15px;
  margin-right: 30px;
}
.uppernav .btn a {
  color: #fff;
  text-decoration: none;
}

.header-parent {
  overflow: hidden;
}

.header-slider .slick-prev {
  left: 86%;
  top: 90%;
  z-index: 99;
}
.header-slider .slick-prev::before {
  content: "";
  font-size: 15px;
}
.header-slider .slick-next {
  right: 9%;
  top: 90%;
  bottom: 0;
}
.header-slider .slick-next::before {
  content: "";
  font-size: 15px;
}

.header {
  background-size: cover;
  background-position: center;
  height: 700px;
  overflow: hidden;
}
.header .slider-item {
  overflow: hidden;
}
.header .content {
  padding-top: 250px;
}
.header .content h5 {
  color: #F6DA63;
  font-size: 30px;
  font-weight: bold;
}
.header .content p {
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  line-height: 30px;
}
.header .content .btn {
  background-color: #F6DA63;
  border-radius: 15px;
}
.header .content .btn a {
  color: #8C4B9D;
  text-decoration: none;
}
.header .content-img {
  text-align: center;
}
.header .content-img img {
  height: 546px;
  margin: auto;
  margin-top: 163px;
}

.what {
  margin-top: 68px;
}
.what .card-what {
  border: 1px solid #DDD;
  border-radius: 20px;
}
.what .card-what img {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.what .what-content {
  margin-right: -70px;
  padding-left: 30px;
}
.what h6 {
  font-size: 30px;
  color: #8C4B9D;
  font-weight: bold;
  padding-top: 71px;
}
.what p {
  font-size: 16px;
  margin-top: 33px;
  margin-bottom: 30px;
}
.what .btn {
  background-color: #F6DA63;
  border-radius: 20px;
}

.proparties {
  overflow: hidden;
  margin-top: 58px;
}
.proparties .prop-img img {
  height: 598px;
  margin-right: 30px !important;
}
.proparties .prop-cards .card {
  border: 0;
  text-align: center;
  margin-bottom: 32px;
}
.proparties .prop-cards .card .card-img {
  text-align: center;
  border: 1px solid #f8f8ff;
  padding: 25px 103px;
  border-radius: 20px;
}
.proparties .prop-cards .card .card-img img {
  height: 50px;
}
.proparties .prop-cards .card .card-text {
  font-size: 20px;
  margin-top: 25px;
}

.app-prop {
  background-size: cover;
  background-position: center;
  padding-top: 44px;
  padding-bottom: 83px;
}
.app-prop .app-img {
  height: 370px;
}
.app-prop h5 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 40px;
}
.app-prop .app-cards .card {
  height: 80px;
  position: relative;
  background-color: transparent;
  color: #fff;
  padding-right: 115px;
  border: 0;
  margin-bottom: 30px;
}
.app-prop .app-cards .card .card-img {
  text-align: center;
  position: absolute;
  right: 0;
  border: 1px solid #DDD;
  border-radius: 20px;
  width: 108px;
  height: 80px;
  line-height: 80px;
}
.app-prop .app-cards .card .card-text {
  font-size: 16px;
}

.features {
  margin-top: -80px;
}
.features .parent-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 80px;
}
.features .parent-card .slider-item {
  padding: 20px;
}
.features .parent-card h5 {
  font-size: 30px;
  font-weight: bold;
  color: #8C4B9D;
}
.features .parent-card p {
  font-size: 18px;
  margin: auto;
  margin-top: 50px;
  width: 85%;
  margin-bottom: 50px;
}
.features .parent-card .card {
  text-align: center;
  border: 0;
  margin-bottom: 40px;
}
.features .parent-card .card .card-img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: #8C4B9D;
  margin: auto;
  position: relative;
}
.features .parent-card .card .card-img img {
  margin: auto;
  height: 41px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features .parent-card .card .card-title {
  font-size: 20px;
  margin-top: 10px;
}
.features .parent-card .card .card-text {
  margin: 0;
  margin: auto;
  width: 100%;
  font-size: 16px;
}
.features .parent-card .slick-prev {
  left: 47%;
  top: 100%;
  z-index: 99;
}
.features .parent-card .slick-prev::before {
  content: "";
  font-size: 15px;
  background-color: #F6DA63 !important;
}
.features .parent-card .slick-next {
  right: 46%;
  top: 100%;
  bottom: 0;
}
.features .parent-card .slick-next::before {
  content: "";
  font-size: 15px;
  background-color: #F6DA63 !important;
}

.monitor {
  margin-top: 65px;
}
.monitor h5 {
  position: relative;
  text-align: center;
  margin-bottom: 51px;
  color: #8C4B9D !important;
}
.monitor .monitor-slider .slider-item {
  padding: 10px;
  margin-bottom: 50px;
}
.monitor .monitor-slider .slider-item .card {
  border-radius: 0;
  border: 0;
}
.monitor .monitor-slider .slider-item .card img {
  height: 520px;
}
.monitor .monitor-slider .slick-prev {
  left: 47%;
  top: 100%;
  z-index: 99;
}
.monitor .monitor-slider .slick-prev::before {
  content: "";
  font-size: 15px;
  background-color: #F6DA63 !important;
}
.monitor .monitor-slider .slick-next {
  right: 46%;
  top: 100%;
  bottom: 0;
}
.monitor .monitor-slider .slick-next::before {
  content: "";
  font-size: 15px;
  background-color: #F6DA63 !important;
}

.live-show {
  background-image: url("../images/live.png");
  height: 430px;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-top: 90px;
  padding-top: 68px;
}
.live-show h5 {
  font-size: 30px;
  font-weight: bold;
  color: #8C4B9D;
  margin-bottom: 40px;
}

.download {
  text-align: center;
}
.download .live-img {
  height: 583px;
  margin-top: -230px;
}
.download .down {
  font-size: 25px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  font-weight: bold;
  width: 40%;
}
.download a img {
  height: 75px;
}

footer {
  background-image: url("../images/footer-bg.png");
  background-size: cover;
  background-position: center;
  margin-top: 75px;
  text-align: center;
  padding-top: 75px;
}
footer .footer-navbar {
  color: #fff;
  margin-top: 26px;
}
footer .footer-navbar .nav-link {
  color: #fff !important;
  margin: 10px;
}
footer .footer-navbar .active .nav-link {
  background-color: #F6DA63;
  border-radius: 20px;
  color: #000 !important;
}

@media (max-width: 800px) {
  .uppernav .navbar {
    background-color: #8C4B9D;
    position: unset;
  }
  .uppernav .navbar .navbar-nav {
    text-align: center;
  }

  .header-parent .slick-prev {
    top: 90% !important;
  }
  .header-parent .slick-next {
    top: 90% !important;
    right: 5%;
  }

  .header {
    height: 400px;
  }
  .header .content {
    padding-top: 40px;
  }
  .header .content-img {
    display: none;
  }

  .what img {
    display: none;
  }
  .what .what-content {
    margin: 0;
    padding: 20px;
  }

  .features .parent-card .slick-next {
    right: 44%;
  }

  .features .parent-card .slick-prev {
    left: 44%;
  }

  .monitor .monitor-slider .slick-next {
    left: 44%;
  }

  .monitor .monitor-slider .slick-prev {
    left: 44%;
  }

  .monitor .monitor-slider .slider-item .card img {
    height: 566px;
  }

  .col-app-img {
    text-align: center;
  }
}
@media (max-width: 524px) {
  .uppernav .navbar {
    padding: 10px !important;
  }

  .header {
    height: 500px;
  }

  .header-parent .slick-prev {
    left: 75%;
  }

  .features .parent-card p {
    width: 100%;
  }

  .features .parent-card .slick-next {
    right: 0%;
  }

  .features .parent-card .slick-prev {
    left: 75%;
  }

  .monitor .monitor-slider .slick-next {
    right: 13%;
  }

  .monitor .monitor-slider .slick-prev {
    left: 65%;
  }

  .features .parent-card {
    padding: 30px;
    padding-bottom: 80px;
  }

  .download .down {
    width: 100%;
  }
}
@media (max-width: 321px) {
  .app-prop .app-img {
    display: none;
  }
}
.header-slider .slick-prev::before, .header-slider .slick-next::before, .features .parent-card .slick-prev::before, .features .parent-card .slick-next::before, .monitor .monitor-slider .slick-prev::before, .monitor .monitor-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.header-slider .slick-prev::before, .header-slider .slick-next::before, .features .parent-card .slick-prev::before, .features .parent-card .slick-next::before, .monitor .monitor-slider .slick-prev::before, .monitor .monitor-slider .slick-next::before {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  color: #106b5e;
}

.monitor h5 {
  font-size: 40px;
  font-weight: bold;
  color: #106b5e;
  position: relative;
  padding-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
